.container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    align-items: stretch; /* Asegura que los elementos ocupen toda la altura */
}

.left-pane {
    flex: 2; 
    background-color: black;
}

.right-pane {
    flex: 7; 
}


/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        height: 60%; /* Permite que la altura se ajuste al contenido */
    }

    .left-pane, .right-pane {
        flex: none; /* Permite que ambos panes ocupen el ancho completo */
        width: 100%; /* Se aseguran de ocupar todo el ancho */
    }
}