<article class="sidebar">

    <img class="logo" src="https://images.vexels.com/media/users/3/224234/isolated/preview/ff7c525c1c3e1bef640644542001e1fd-logotipo-de-la-escuela-en-linea.png"
     alt="Logo de la Escuela"  />
    <h1>Gestión de <br>Calificaciones</h1>

    <ul>
        <li><a
            routerLink="/login"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            ><img src="https://img.icons8.com/ios/50/000000/dashboard.png" alt="Dashboard" /> Login</a></li>
        <li><a
            routerLink="/alumnos"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            ><img src="https://img.icons8.com/ios/50/000000/student-male.png" alt="Estudiantes" /> Estudiantes</a></li>
        <li><a
            routerLink="/materias"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            ><img src="https://img.icons8.com/ios/50/000000/book.png" alt="Materias" /> Materias</a></li>
        <li><a
            routerLink="/Calificaciones"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            ><img src="https://img.icons8.com/ios/50/000000/checkmark.png" alt="Calificaciones" /> Calificaciones</a></li>
        <li><a><img src="https://img.icons8.com/ios/50/000000/settings.png" alt="Ajustes" /> Ajustes</a></li>
    </ul>
</article>
