<div class="container">

<h1>Registro de Profesores</h1>
<table>
    <thead>
        <tr>
            <th>Materia</th>
            <th>Horario</th>
            <th>Días</th>
            <th>Solicitar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Matemáticas</td>
            <td>08:00 - 10:00</td>
            <td>Lunes, Miércoles</td>
            <td><button class="button">Solicitar</button></td>
        </tr>
        <tr>
            <td>Historia</td>
            <td>10:00 - 12:00</td>
            <td>Martes, Jueves</td>
            <td><button class="button">Solicitar</button></td>
        </tr>
    </tbody>
</table>
</div>